.single{
}
.article-container{
    
}
.article-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-image{
    width: 80%;
}

.article-content{
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
}